System hostname = openbsd
IPv4 address for vio0 = 10.10.10.252
Default IPv4 route = 10.10.10.1
DNS nameservers = 1.1.1.1 1.0.0.1
Password for root account = {{ env("password_hash1") }}
Do you expect to run the X Window System = no
Setup a user = {{ env("default_vm_user") }}
Password for user {{ env("default_vm_user") }} = {{ env("password_hash2") }}
Allow root ssh login = yes
# Set name(s) = -comp* -game* -x*
Directory does not contain SHA256.sig. Continue without verification = yes
